{% extends 'base-registration.html' %}
    {% load bootstrap4 %}

    {% block title %}Seawatch Registration{% endblock %}



    {% block content %}
        <h1>Willkommen zurück {{ request.user.username }}</h1>
        <p> Siehe <a href="{% url "application_list" %}">alle Bewerbungen</a>
            oder nach Position gefiltert:
        </p>
        <ul>
            {% for position in all_positions %}
                <li>
                    <a href="{% url "application_list" %}?position={{ position.name|urlencode }}">
                        {{ position.name|capfirst }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
