{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>
        {% blocktrans with applicant_name=application.name %}
            Application from {{ applicant_name }}
        {% endblocktrans %}
    </h1>
    <form method="post">{% csrf_token %}
        <p>
            {% blocktrans with application=application %}
                Are you sure you want to delete {{ application }}'s application?
            {% endblocktrans %}
        </p>
        <input type="submit" value="{% trans "Delete" %}">
    </form>
{% endblock %}
