{% extends "base.html" %}

{% load i18n %}
{% load render_table from django_tables2 %}

{% block content %}
    <h1>{% trans "Open Applications" %}</h1>
    {% if object_list %}
        {% render_table table %}
    {% else %}
        <p>{% trans "No applications found" %}</p>
    {% endif %}
{% endblock %}
