
.field > validation-feedback {
    top: 48px;
    position: relative;
}

.wide > validation-feedback{
    width: 50%;
    margin-bottom: 8px;
}

.field_motivation > validation-feedback{
    bottom: -92px;
}
.field_qualification > validation-feedback{
    bottom: -100px;
}

@media (min-width: 900px) {
    .field_motivation > validation-feedback{
        width: calc(100% - 7.3em);
        bottom: -32px;
    }
    .field_qualification > validation-feedback{
        width: calc(100% - 7.3em);
        bottom: -40px;
    }

}


.availabilities {
    & .mission {

& .select {
& validation-feedback {
      position: absolute;
      top: 0;
      left: 0;
  }
  }
}
}
